body{
    text-align: center;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row{
    display: flex;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#tabuleiro{
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 480px;
    border-bottom: 2px solid rgb(0, 80, 0);
    border-right: 2px solid rgb(0, 80, 0);

}

button{
    width: 120px;
    height: 60px;
}
.casa{
    width: 60px;
    height: 60px;

    border-top: 2px solid rgb(0, 80, 0);
    border-left: 2px solid rgb(0, 80, 0);
    /*cursor:no-drop;*/
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}


.jogada-possivel{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
}


.whiteP{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}
.blackP{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
}